.title {
    margin: 0.5rem 0 0 0;
}

.title-link {
    font-size: initial;
    font-weight: initial;
    text-decoration: none;
}

.description {
    font-size: medium;
    width: 95%;
    margin: 0;
    color: gray;
}

.item {
    list-style: none;
}

.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.content-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.field-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}