.item {
    list-style: none;
}

.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.field-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.field {
    flex-direction: row;
    gap: 0.3rem;
    font-size: small;
    align-items: center;
}