.anchor {
    font-size: 14px;
    font-weight: 350;
    text-decoration: underline;
    cursor: pointer;
    color: var(--color-primary-300);
}

.anchor:hover {
    color: var(--color-primary-500);
}