.item {
    list-style: none;
}

.container {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 0.5rem;
}

.field-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0.5rem 0;
    width: 30rem;
}

@media screen and (max-width: 650px) {
    .field-container {
        width: initial;
    }
}