MONGO_CONNECTION_STRING=''
JWT_SECRET=''
JWT_TOKEN_DURATION=''
CLIENT_URL=''
UPLOAD_DIR_PATH=''
EMAILJS_PUBLIC_KEY=''
EMAILJS_PRIVATE_KEY=''
EMAIL_JS_SERVICE_ID=''
EMAIL_JS_REQUEST_TO_REVIEW_TEMPLATE_ID=''
EMAIL_JS_REQUEST_STATUS_CHANGE_TEMPLATE_ID=''
ADMIN_EMAIL=''
ADMIN_PASSWORD=''