.container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    width: inherit;
    flex: 1;
    flex-basis: 35%;
}

.button {
    height: 2.3rem;
}

.default-button {
    border-radius: 10px 0 0 10px !important;
}

.menu-button {
    border-radius: 0 10px 10px 0 !important;
}

.menu-button:hover,
.menu-button:active,
.default-button:hover,
.default-button:active {
    transform: scale(1.01) !important;
}