.badge {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-radius: 20px;
    color: white;
    max-width: 1rem;
    max-height: 0.5rem;
    padding: 1rem;
    line-height: 0.5rem;
    align-items: center;
    min-width: fit-content;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    font-family: 'Montserrat';
}