.form {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-container {
    justify-content: center;
    flex-direction: column;
}

@media screen and (max-width: 420px) {
    .form {
        padding: 1.2rem;
        align-items: center;
        justify-content: center;
    }
}