.card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1rem;
    padding: 2rem;
}

.title {
    margin: 0 0 0.5rem 0;
}

.header-row {
    justify-content: space-between;
    gap: 0.5rem;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
}

.button-container>button {
    margin: 0;
}

.button {
    width: initial;
}

.request-people {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.request-person {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}

.request-person label {
    font-weight: 500;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.request-person span {
    font-weight: 400;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.tag {
    font-size: small !important;
    font-weight: 500 !important;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.line {
    background-color: black;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .card {
        margin: 1rem;
    }

    .request-people {
        flex-direction: column;
        gap: 0.3rem;
    }

    .button-container {
        margin-top: 0.5rem;
    }
}

@media screen and (max-width: 420px) {
    .button {
        width: 100% !important;
    }

    .request-people {
        flex-direction: column;
        gap: 0.3rem;
    }

    .button-container {
        margin-top: 0.5rem;
    }
}